html{
    font-size: 25px;
}
body {
    background-color: lightgrey; /* серый цвет фона */
    padding-left: 10%; /* отступы вокруг всей страницы */
    padding-right: 10%; /* отступы вокруг всей страницы */
}
.container-with-margin {
  margin-top: 180px;
}










