h2 {
    text-align: center;
    margin-top: -1rem;
    font-size: 3rem;
    /*Градиент*/
    color: transparent; 
    background-image: linear-gradient(135deg, #2E958C, #B47EB2);
    -webkit-background-clip: text; 
    background-clip: text;
    /*Обводка текста*/
    -webkit-text-stroke: .5px #000; 
    text-stroke: 1px #000;
}

body {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    height: 90vh; /* Чтобы занять всю высоту видимой области окна */
    margin: 0; /* Убираем отступы по умолчанию */
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: .5px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s;
}

.mainform {
    transition: 0.1s;
}

.form {
    transition: 0.2; /* Добавляем плавные переходы для opacity и height */
    height: auto; /* Устанавливаем высоту автоматически */
}

.show {
    display: block;
    height: auto;
    opacity: 1; /* Делаем форму полностью видимой */
    transition: height 0.5s ease, opacity 0.5s ease; /* Плавные переходы для высоты и непрозрачности */
}

.hide {
    opacity: 0; /* Делаем форму полностью невидимой */
    overflow: hidden; /* Скрываем содержимое формы, когда ее высота равна 0 */
    transition: height 0.5s ease, opacity 0.5s ease; /* Плавные переходы для высоты и непрозрачности */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.back-btn {
    position: relative;
    margin: -.5rem .7rem .7rem -1rem;
    background-image: url(assets/loginpage/back.png);
    width: 2rem;
    height: 2rem;
    background-size: cover;
    opacity: 0.5;
    transition: 0.2s ease;
    z-index: 1;
    pointer-events: none; /* Исключаем элемент из обработки событий мыши */
}

/* Создаем псевдоэлемент, чтобы определить область взаимодействия */
.back-btn::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 1;
    pointer-events: auto; /* Восстанавливаем обработку событий мыши для псевдоэлемента */
}

.back-btn:hover {
    opacity: 1;
}

input[type="text"], 
input[type="password"] {
    width: 96.5%;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #bbbbbb;
}

input[type="text"]::placeholder, 
input[type="password"]::placeholder {
    font-size: 15px;
    color: white;
}

.forgotpassword {
    position: relative;
    width: 100%;
    text-align: center;
}

.loginbtn:hover,
.submitbtn:hover {
    background-color: gray;
}

.loginbtn:active,
.submitbtn:active {
    background-color: rgb(90, 90, 90);
}

.submitbtn,
.loginbtn {
    width: 100%;
    height: 2rem;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 0.5rem;
    background-color: rgb(204, 204, 204);
    border: none;
    outline: none;
    background-color: rgb(204, 204, 204);
    transition: 0.2s ease;
}

.conatainer {
    text-align: center;
}
.container2 label {
  text-align: left;
}

.avatarcase {
    position: relative;
    width: 50%;
    aspect-ratio: 1/1;
    left: 50%;
    transform: translate(-50%, -30%);

    #avatar {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
    }
}

#In2 {
    position: relative;
    top: -2.2rem;
}


