.popup {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #B93037;
  padding: 20px;
  border: 1px solid #F45F66;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
  font-family: Cascadia Light;
}

.popup.hidden {
  opacity: 0; /* Скрываем всплывающее окно */
}
